@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 4%;
}

header {   
    width: 90%;
    display: inline-block;
    background-color: cadetblue;
}
.logo {
    width: 150px;
    height: 30px;
    margin-right: 45%;
}

.search {
    width: 26px;
}

.footer {
    width: 90%;
}